[flake8]
ignore = W503,ANN101,ANN102
max-line-length = 88
exclude = .git,__pycache__,dist,platformio_projects,build,docs,.venv,Docker

docstring-convention=google

per-file-ignores =
    **/tests/**:D100,D101,D103,D107,ANN001,ANN201
